﻿<body>
    <!--HEADER-->
    <header class="container">
        <img src="img/logo.png" alt="Logo de Choco Boom" />
        <nav>
            <a href="#">Notre passion</a>
            <a href="#">Nos engagements</a>
            <a href="#">Nos chocolats</a>
        </nav>
    </header>
    <!--MAIN CONTENT-->
    <main class="container">
        <section>
            <img src="img/chocolat.jpeg" alt="Illustration Plaquettes de Chocolat" />
            <h2><i class="fa fa-mug-hot">&nbsp;</i>Lorem ipsum dolor sit amet !</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis dolores quisquam laborum eos, nihil ad facilis rem nostrum laudantium nobis quidem aliquam.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quae laboriosam eum alias officia pariatur soluta quod, exercitationem dignissimos distinctio aspernatur, iusto odit, optio debitis? Enim ut a id unde accusantium, fuga quam minus corporis alias itaque quis? Quis inventore sit blanditiis voluptas voluptatibus minima.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, facere fugiat? Quam, beatae! Fugit vero aut odio expedita doloribus ullam modi error, nemo impedit exercitationem beatae possimus minima, in corrupti nisi ducimus! Doloremque numquam porro autem quod rerum eum voluptates repellendus excepturi, animi, suscipit eaque voluptas quos? Illo, eveniet magnam reprehenderit commodi harum nisi cum sapiente non. Voluptates dignissimos accusamus veritatis iure debitis perferendis exercitationem soluta labore rerum?</p>
        </section><aside>
            <h2><i class="fa fa-mug-hot">&nbsp;</i>Lorem ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nisi ut eius, facilis expedita placeat nemo excepturi! Itaque, dignissimos. Et dolorem consectetur iure non. Magnam enim neque dolores exercitationem quidem, ullam quo voluptatibus. Aliquid nulla consequatur expedita quod aliquam. Voluptate, non perferendis similique in labore dolorum magni libero, quam repellat animi earum minus nihil ex fugiat!</p>
            <h2><i class="fa fa-mug-hot">&nbsp;</i>Lorem ipsum</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur totam beatae placeat consectetur accusamus itaque odit veniam, repellendus veritatis doloribus voluptatibus temporibus eveniet, aperiam atque sed assumenda magnam saepe ipsum, consequatur numquam. Illum, ut natus rerum autem velit quis voluptatibus quae similique, cupiditate aut sint soluta, beatae earum.</p>
        </aside>
    </main>
</body>
